.toggle-btn {
    font-weight: bold;
    cursor: pointer;
}


.header-back {
    background: rgba(234, 233, 235, 0.95);
}

section:first-child .section-header .sign .circle {
    margin-top: 13px;
}

.section-header {
    display: flex;
    align-items: center;
    background-color: rgba(99, 83, 108, 1);
    color: white;
    padding: 0px 32px 0 40px;
    font-size: 20px;
    line-height: 25px;
    font-weight: 700;
    height: 95px;

    .sign {
        height: 70px;
    }

    .line {
        height: 30px;
        margin-top: 0px;
    }

    .line:first-child {
        margin-top: -15px;
    }
}

.section-header-content {
    display: flex;
    justify-content: space-between;
    width: calc(100% - 44px);
    padding-left: 20px;

    .chevron {
        margin-right: 20px;
    }

    .chevron::before {
        top: 0;
        width: 15px;
        height: 15px;
        border-right-width: 5px;
        border-top-width: 5px;
    }
}

.sign {
    width: 44px;
    display: inline-block;
}

.section-content {
    width: 100%;
    display: inline-block;
    padding: 30px 32px 30px 40px;

    strong {
        margin-left: 10px;
    }
}

.with-border {
    border-left: 2px solid #BC95D6;
}

.section-body {
    padding-left: 60px;

    .sign {
        height: 100%;
    }

    .line {
        height: 100px;
    }
}



.circle {
    border: 4px solid #BC95D6;
    border-radius: 50%;
    width: 44px;
    height: 44px;
    background: white;
    position: relative;
    margin-top: -5px;
}

.line {
    background-color: #BC95D6;
    width: 2px;
    height: 100%;
    margin-left: 20px;
}

@media (max-width: 576px) {
    .with-border {
        border-left: 0px;
    }

    .section-body {
        padding-left: 0px;
    }

    .section-content {
       padding: 30px;
    }

    .section-header {
       height: 65px;
    }

    .chevron {
        margin-right: -5px !important;
    }

    .circle {
        width: 22px;
        height: 22px;
        margin-top: 22px !important;
        margin-left: -10px;
    }

    .header-text {
        margin-left: -30px;
    }
}