.main-container {
    max-width: 1000px;
}

.section {
    height: 294px;
}

.auth_form {
    background-color:rgba(224, 223, 225, 1);
    padding: 30px;

    button {
        display: flex;
        justify-self: center;
        justify-content: center;
    }
}
