

.section {
    width: 100%;
    max-width: 480px;
    height: 294px;
    margin: 0 auto;
}

.auth_form {
    background-color:rgba(224, 223, 225, 1);
    padding: 30px;

    button {
        display: flex;
        justify-self: center;
        justify-content: center;
    }
}
