.car {
    justify-content: space-between;
}

.car-item {
    width: 12.5%;
    background-color: rgba(255, 255, 255, 0.9);
    height: 48px;
    border: 1px solid transparent;
    box-sizing: border-box;

    /* .chev-right:before { content:"\2039"; } */
    .chev-right:after  { content:"\203A"; }
    cursor: pointer;
    text-wrap: nowrap;
}


.car-item-selected {
    margin-top: -2px;
    width: 24%;
    background-color:  white;
    height: 52px;
    border: 1px solid transparent;
    box-sizing: border-box;
    font-weight: bold;
    cursor: pointer;
    text-wrap: nowrap;
}

.red-day {
    color: red;
}