.seance {
    border: 1px solid rgba(0, 0, 0, 0.3);
    font-size: 10px;
    line-height: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: grab;

    span {
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        
    }
    
}

@media (max-width: 768px) {
    .seance {
        padding: 0;
    }
}