.container {
    padding: 35px 105px;
}

.header-top {
    justify-content: space-between;
}

.home {
    width: auto;
    cursor: pointer;
    height: 40px;
}

.home-btn.confirm-btn {
    margin: 0 12px 0 0;
    height: 40px;
    padding: 12px;
}

.navigation .row {
    margin: 0;
}

