.container {
    padding: 35px 105px;
}

.header-top {
    justify-content: space-between;
}

.home {
    width: auto;
    cursor: pointer;
}

.home.confirm-btn {
    margin: 0 12px 0 0;
    padding: 11px;
}

.navigation .row {
    margin: 0;
}

